body { margin: 0;}

ul{
  list-style: none;
  padding:0;
  margin: 0;
}
a{
  text-decoration: none;
  color: inherit;
}
.blind{
  display: block;
  width: 0;
  height: 0;
  overflow: hidden;
  margin: 0;
}
.content_box{
    width: 600px;
    margin: 0 auto;
}

/* header_Top */
.header_top{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.header_top > a >img{
    width: 30px;
    height: 30px;
    cursor: pointer;
}
/* 로고 */
.logo{
    width: 200px;
    height: 150px;
    position: absolute;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
}
/* kakao login */

.kakao_log{
    margin-top: 120px;
    

}
.kakao_log_title{
    font-size: 30px;
    font-weight: 900;
    padding-left: 5px;
}
.kakao_log_desc{
    padding: 30px 0;
    font-size: 20px;
    padding-left: 5px;
    padding-bottom: 20px;
}
.kakao_img{
   width: 600px;
}
.btn_box {
    text-align: center;
}