body{
    background-color: #F5F5F5;
    height: auto;
}

#a_line{
    text-decoration: underline;
    font-weight: 500;
}

.wrap{
    width: 100%;
    height: 100%;
}

.content_box{
    margin: 0 auto;
    width: 90%;
    /* height: 100%; */
    /* background-color: white; */
    position: relative;
}

.header{
    width: 100%;
    height: 100px;
    /* background-color: green; */
}

.t_nav_box_wrap{
    width: 100%;
    height: 30px;
    background-color: #f5f5f5;
}

.t_nav_box{
    width: 100%;
    height: 30px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.a_box{
    height: 100%;
    width: 10%;
    /* background-color: orange; */
    display: flex;
    align-items: center;
}

.jordan{
    width: 50%;
    height: 100%;
    background-color: blueviolet;
    background: url('./img/jordan.png') no-repeat center / contain;
    cursor: pointer;
}

.converse{
    width: 50%;
    height: 50%;
    background: url('./img/converse.png')no-repeat center / contain;
    cursor: pointer;
}

.t_nav{
    display: flex;
    font-size: 13px;
    gap: 10px;
}

.t_nav div{
    border-right: 1px solid black;
    line-height: 13px;
    padding-right: 10px;
    cursor: pointer;
}

.t_nav div:hover{
    color: gray;
}

.t_nav_second{
    position: relative;
    /* background-color: blue; */
}

.t_nav_ul{
    position: absolute;
    background-color: white;
    width: 170px;
    right: 0px;
    top: 15px;
    padding: 10px;
    border-radius: 5px;
    display: none;
    z-index: 9999;
    box-shadow: 0px 0px 1px rgba(0,0,0,0.5);
}

.t_nav_second:hover .t_nav_ul{
    /* transform: translateY(5px); */
    display: block;
    height: 265px;
}

.t_nav_li{
    margin: 10px 20px;
    cursor: pointer;
    color: gray;
}

.last_div{
    border-right: none;
}

.t_nav_li:hover{
    color: black;
}

.top_banner_cover{
    height: 70px;
    width: 100%;
    background-color: white;
    position: relative;
    z-index: 99;
    /* display: none; */
}

.top_banner{
    height: 70px;
    width: 100%;
    /* background-color: white; */
    position: relative;
    display: flex;
    transition: all 0.3s; 
    /*스크롤이벤트를 위한 트랜지션*/
}

.nike_logo{
    position: absolute;
    left: -6%;
    width: 20%;
    height: 100%;
    background-color: green;
    background: url('./img/나이키_로고_\(1\).png')no-repeat center / contain;
}

.top_banner_nav{
    height: 100%;
    width: 60%;
    /* background-color: red; */
    position: absolute;
    left: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    /* background-color: blue; */
}

.t_b_navs{
    padding: 5px 10px;
    box-sizing:border-box;
    font-weight: 500;
    /* background-color: red; */
}

.t_b_navs:hover{
    border-bottom: 2px solid black;
    box-sizing: border-box;
    cursor: pointer;
}

.New_menu_wrap{
    width: 100vw;
    left: 0;
    height: 0px;
    position: fixed;
    top: 100px;
    background-color: white;
    transition: all 0.1s;
    display: flex;
    justify-content: center;
    gap: 5px;
    z-index: 99;
}

.t_b_navs:hover .New_menu_wrap{
    height: 360px;
}

.t_b_navs.special:hover .New_menu_wrap {
    height: 250px;
}

.t_b_navs.special1:hover .New_menu_wrap {
    height: 160px;
}

.t_b_navs:hover .N_m_w_ul{
    display: block;
}

.N_m_w_div{
    width: calc((80% - (5px * 3)) / 4);
    height: 100%;
    /* background-color: pink; */
}

.N_m_w_ul{
    display: none;
    margin-bottom: 20px;
}

.t_b_navs:hover .snkrs{
    display: block;
}

.N_m_w_ul li{
    font-size: 12px;
    margin: 10px 10px;
    color: gray;
    cursor: pointer;
}

.N_m_w_ul li:hover{
    color: black;
}

.N_m_w_ul2 li{
    margin: 13px 10px;
    color: gray;
}

.span_txt{
    font-size: 15px;
    margin: 10px 10px;
}

.snkrs{
    display: block;
    display: none;
    margin: 50px 10px;
    font-weight: 500;
}

.heart_box{
    height: 100%;
    width: 15%;
    /* background-color: skyblue; */
    position: absolute;
    right: 0px;
    display: flex;
    align-items: center;
}

.heart_box_div{
    height: 30%;
    width: calc(100% / 3);
    cursor: pointer;
}

.search{
    background: url('./img/search.png')no-repeat center / contain;
}

.heart{
    background: url('./img/heart.png')no-repeat center / contain;
}

.basket{
    background: url('./img/shopping-bag.png')no-repeat center / contain;
}

.promotion{
    width: 100%;
    height: 50px;
    background-color: #F5F5F5;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.promotion_down{
    font-size: 16px;
    font-weight: 500;
}

#a_line{
    font-size: 12px;
    text-decoration: underline;
    font-weight: 500;
    margin-left: 10px;
    line-height: 50px;
}

/**********main*************/

.main{
    background-color: white;
    width: 100%;
    height: 100%;
}

.main_top_banner{
    width: 100%;
    height: 90px;
    /* background-color: skyblue; */
    /* line-height: 100px; */
    position: relative;
}

.mtb_top{
    /* background-color: pink; */
    font-size: 13px;
    font-weight: 500;
    width: 100%;
    height: 25px;
    position: absolute;
    top: 15px;
    line-height: 30px;
}

.mtb_bot{
    width: 100%;
    height: 45px;
    /* background-color: green; */
    position: absolute;
    top: 35px;
    line-height: 50px;
    display: flex;
    justify-content: space-between;
}

.mtb_bot_left{
    height: 100%;
    width: 50%;
    /* background-color: orange; */
    font-weight: 500;
    font-size: 25px;
}

.mtb_bot_right_box{
    height: 100%;
    width: 50%;
    /* background-color: orange; */
    display: flex;
    font-size: 14px;
    gap: 15px;
    justify-content: right;
    padding-top: 5px;
}

.main_box{
    /* background-color: pink; */
    width: 100%;
    height: 100%;
    display: flex;
    gap: 15px;
}

.side_menu{
    box-sizing: border-box;
    width: 300px;
    height: 80vh;
    overflow: auto;
    /* background-color: white; */
}

.first_box{
    font-weight: 500;
    height: 100px;
    /* background-color: orange; */
    border-bottom: 1px solid rgba(197, 197, 197, 0.5);
}

.first_box div{
    margin-bottom: 5px;
}

.sec_box{
    width: 200px;
    border-bottom: 1px solid rgba(197, 197, 197, 0.5);
}

.sec_box1{
    font-weight: 500;
}

.open_box{
    margin: 15px 0px;
    display: flex;
    justify-content: space-between;
}

.open_sec{
    cursor: pointer;
    font-weight: 700;
    font-size: 15px;
    display: inline-block;
}

.chk_box{
    height: 0;
    width: 100%;
    overflow: hidden;
    transition: all 0.7s;
}

.chk_size{
    width: 17px;
    height: 17px;
}

.chk_div{
    font-size: 14x;
}

.chk_box div:last-child{
    margin-bottom: 15px;
}

.main_box_items{
    width: 100%;
    height: 100%;
    /* background-color: orange; */
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-left: 50px;
    position: relative;
}

.main_box_item{
    width: calc((100% - (10px *2 )) / 3);
    height: 500px;
    /* background-color: blue; */
}

.img_box{
    /* background-color: white; */
    position: relative;
    height: 300px;
    width: 100%;
    overflow: hidden;
}

.img_box img{
    height: 300px;
    width: 100%;
    object-fit: cover;
}

.subs_box{
    height: 200px;
    padding: 10px;
    box-sizing: border-box;
    position: absolute;
}

.subs_box div{
    padding: 2px 0px;
}

.item_no{
    display: none;
}

.subs_box_title{
    font-weight: 700;
}

.subs_box_section{
    color: rgb(201, 201, 201);
}

.subs_box_price{
    color: black;
    font-weight: 500;
    margin: 10px 0px;
}

#load_more{
    position: absolute;
    display: block;
    width: 70px;
    height: 40px;
    left: 55%;
    bottom: 0;
    border-radius: 50px;
    border: none;
    background-color: rgb(66, 66, 66);
    color: white;
    cursor: pointer;
}

/********** footer *************/

.footer{
    background-color: white;
}

.border_gray1{
    width: 100%;
    border-bottom: 1px solid rgb(213, 213, 213);
    margin-bottom:100px;
    padding-top: 100px;
}

.main_bot_list_box{
    width: 100%;
    height: auto;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.main_bot_list{
    width: 70%;
    height: 100%;
    /* background-color: orange; */
    display: flex;
    gap: 22%;
}

.bot_list ul li:nth-child(1){
    font-weight: 500;
    margin-bottom: 30px;
    color: black;
    font-size: 17px;
}

.bot_list ul li{
    color: rgb(179, 179, 179);
    margin-bottom: 15px;
    font-size: 13px;
    cursor: pointer;
    font-weight: 500;
}

.bot_list ul li:hover{
    color: black;
}

.korea{
    color: gray;
}

.inc{
    display: flex;
    gap: 10px;
    margin-top: 100px;
    font-size: 15px;
    color: rgb(139, 139, 139);
}

.border_gray{
    border-top: 1px solid rgb(209, 209, 209);
    width: 100%;
    margin: 0 auto;
    margin-top: 100px;
}

.footer_box{
    display: flex;
    /* background-color: pink; */
    width: 100%;
    /* margin: 0 auto; */
    gap: 30px;
    font-size: 15px;
    justify-content: space-between;
}

.footer_box > div{
    /* background-color: skyblue; */
    width: calc( 100% / 2);
    margin: 50px 0px;
    color: rgb(179, 179, 179);
}

.under_line{
    text-decoration: underline;
}
